{% extends 'base.html' %}

{% load bootstrap static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/handlebars.js' %}"></script>
    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'js/backbone.js' %}"></script>
    <script src="{% static 'js/example/models.js' %}"></script>
    <script src="{% static 'js/example/collections.js' %}"></script>
    <script src="{% static 'js/example/views.js' %}"></script>
    <script>
    jQuery(function($) {
        new CategoriesView({
            el: $('#categories')
        });
    });
    </script>
{% endblock %}

{% block container %}
<div class="row">
    <div class="span8"></div>
    <div id="categories" class="span4"></div>
</div>
{% endblock %}