<!DOCTYPE html>{% load static main_tags %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="">

        <title>{% block title %}Shopping helper{% endblock %}</title>

        {% block extrahead %}{% endblock %}

        {% block css %}

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
        <link href="{% static 'bootstrap-v3.0.0-rc1/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        {% endblock %}

        {% block js %}
        <script type="text/javascript" src="{% static 'jquery/jquery-1.10.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
        <script src="{% static 'js/jquery.ui.draggable.min.js' %}"></script>
         <script src="{% static 'js/underscore.js' %}"></script>
        <script src="{% static 'js/backbone.js' %}"></script>
        <script src="{% static 'js/backbone-relational.js' %}"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
        
        <script type="text/javascript">
          $(document).ready(function() {
              $.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                      function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie != '') {
                              var cookies = document.cookie.split(';');
                              for (var i = 0; i < cookies.length; i++) {
                                  var cookie = jQuery.trim(cookies[i]);
                                  // Does this cookie string begin with the name we want?
                                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                          break;
                                      }
                              }
                          }
                          return cookieValue;
                      }
                      if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                          // Only send the token to relative URLs i.e. locally.
                          xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                      }
                  }
              });
          });
        </script>
        {% endblock %}
    </head>

    <body>
    {% block body %}
        {% block menu %}{% menu %}{% endblock %}
        <div class="container">
        {% block container %}{% endblock %}
        </div> <!-- /container -->
    {% endblock %}
    </body>
</html>
