/*MODIFICATORS*/

.f_left {float: left;} .f_right {float: right;} .d_none {display: none;}
.c_both {clear: both;} .overflow_a {overflow: auto;} .p_rel {position: relative;}

/*end of MODIFICATORS sector*/

.items_of_buylist {
    font-family: 'Lily Script One', cursive;
}

body {
    background: url("../css/img/dash-background.png") repeat 0 0;
    height: 100%;
    margin: 0 auto -40px;
}

.choose_list {
    border: 1px solid black;
    background-color: #ffffff;
    width: 318px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 15px;
    max-height: 200px;
-webkit-box-shadow: -5px 5px 30px 1px #ababab;
box-shadow: -5px 5px 30px 1px #ababab;
    /*GRADIENT*/
background: -moz-linear-gradient(-45deg, rgba(224,243,250,1) 0%, rgba(216,240,252,0.5) 50%, rgba(184,226,246,0.49) 51%, rgba(182,223,253,0) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,0.5)), color-stop(51%,rgba(184,226,246,0.49)), color-stop(100%,rgba(182,223,253,0)));
background: -webkit-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
background: -o-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
background: -ms-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
background: linear-gradient(135deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#00b6dffd',GradientType=1 );

}

.today {
    font-weight: bold;
    font-style: oblique;
}

.choose_list p {
    line-height: 0;
    padding: 7px 0;
}

.b-popup{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
}

.change_product_name_css{
    left: 100px;

}

.b-popup-content .change_product_name {

    width: 219px;
    height: 25px;
}
.b-popup-content .change_product_cost {
    width: 219px;
    height: 25px;
}

.b-popup .b-popup-content{
    margin:100px auto 100px auto;
    width:320px;
    height: 320px;
    padding:50px;

    background: -moz-linear-gradient(-45deg, rgba(224,243,250,1) 0%, rgba(216,240,252,0.5) 50%, rgba(184,226,246,0.49) 51%, rgba(182,223,253,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,0.5)), color-stop(51%,rgba(184,226,246,0.49)), color-stop(100%,rgba(182,223,253,0)));
    background: -webkit-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
    background: -o-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
    background: linear-gradient(135deg, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#00b6dffd',GradientType=1 );
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

/*Tooltip design hack*/

.choose_for_info {
    line-height: 0;
}

.tooltip {
    clear: both;
    overflow: hidden;
}

.last-bought {
    font-size: 0.7em;
    color: #808080;
}

.header-sh-list {
    font-size: 1.4em;
    margin-top: 25px;
    margin-bottom: 20px;
}

.choose_list p:hover, .suggested_products p:hover {
    background-color: #faf2cc;
    cursor: pointer;
}

.add_form
{
    border: 1px solid #000000;
    background-color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 15px;
    width: 318px;
    margin-top: 25px;
}

.remove-product {
    padding: 2px;
    font-size: 0.8em;
}

.product-item img, .choose-item img, .suggested-item img {
    width: 1.3em;
    height: auto;
    bottom: 2px; /* position hack*/
    animation-direction: reverse;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;

}

.add_form select, .add_form input {
    width: 206px;
    height: auto;
}

.add_form .btn {
    margin-top: 15px;
}


/*Animations*/
    .icon-animation {
    -webkit-animation: cssAnimation 1.7137s 1 ease-in-out;
    -moz-animation: cssAnimation 1.7137s 1 ease-in-out;
    -o-animation: cssAnimation 1.7137s 1 ease-in-out;
    }
    @-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(0); }
    to { -webkit-transform: rotate(179deg) scale(0.325) skew(0deg) translate(0); }
    }
    @-moz-keyframes cssAnimation {
    from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(0); }
    to { -moz-transform: rotate(179deg) scale(0.325) skew(0deg) translate(0); }
    }
    @-o-keyframes cssAnimation {
    from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(0); }
    to { -o-transform: rotate(179deg) scale(0.325) skew(0deg) translate(0); }
    }
