/*MODIFICATORS*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

.f_left {float: left;} .f_right {float: right;} .d_none {display: none;}
.c_both {clear: both;} .overflow_a {overflow: auto;} .p_rel {position: relative;}

/*end of MODIFICATORS sector*/


#home {
    background: url(img/texture_parralax.jpg) 50% 0 repeat fixed;
    height: 1000px;
    position: relative;
}

.items_of_buylist{
    border: 1px solid #DCE3E6;
    width: 318px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 15px;
    -webkit-box-shadow: -5px 5px 30px 1px #DCE3E6;
    box-shadow: -5px 5px 30px 1px #DCE3E6;
    background-color: #ABCCAB;

}

body {
    background: url("../css/img/dash-background.png") repeat 0 0;
    height: 100%;
    margin: 0 auto -40px;
    font-family: Nunito, arial, verdana;
}
.article_info{
    padding: 350px 490px;
    text-align: center;
    color:rgba(255,255,255,0.8);
    text-shadow: 10px 20px 10px rgba(0,0,0,0.7);
    line-height:150%;
    font-family: 'Lily Script One', cursive;
    font-size: 40px;
    position:absolute;
}

.icon-minus{
    color: #3F32C9;
}
.icon-wrench{
    color: #E3AFB6;
}

.icon-plus{
    color: #ABCCAB;
}

.choose_list {
    border: 1px solid #DCE3E6;
    width: 318px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 15px;
    max-height: 200px;
    -webkit-box-shadow: -5px 5px 30px 1px #DCE3E6;
    box-shadow: -5px 5px 30px 1px #DCE3E6;
    background-color: #6BA1BB;
    letter-spacing:1px;
}

.all-products-style1 , .all-products-style2, .all-products-style3
{
    border: 3px solid #DCE3E6;
    width: 70px;
    height: 70px;
    display:inline-block;

}
.add-products-style1 , .add-products-style2, .add-products-style3
{
    border: 3px solid #DCE3E6;
    width: 70px;
    height: 70px;
    display:inline-block;
}
.buylist-products-style1 , .buylist-products-style2, .buylist-products-style3
{
    border: 3px solid #DCE3E6;
    width: 70px;
    height: 70px;
    display:inline-block;
}

.submit_change_style{
    display:inline-block;
}

.tooltip {
    white-space:pre-wrap;
}

.cancel_change_style{
    display:inline-block;
}
.default_change_style{
    display:inline-block;
}

.today {
    font-weight: bold;
    font-style: oblique;
}

.choose_list p {
    line-height: 0;
    padding: 0;

}

.b-popup{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
}

.a-popup{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
}

.change_product_name_css{
    left: 100px;

}

.b-popup-content .change_product_name {

    width: 219px;
    height: 25px;
}
.b-popup-content .change_product_cost {
    width: 219px;
    height: 25px;
}

.b-popup .b-popup-content{
    margin:100px auto 100px auto;
    width:320px;
    height: 320px;
    padding:50px;

    background: -moz-linear-gradient(-45deg, rgba(224,243,250,1) 0%, rgba(216,240,252,0.5) 50%, rgba(184,226,246,0.49) 51%, rgba(182,223,253,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,0.5)), color-stop(51%,rgba(184,226,246,0.49)), color-stop(100%,rgba(182,223,253,0)));
    background: -webkit-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
    background: -o-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
    background: linear-gradient(135deg, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#00b6dffd',GradientType=1 );
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}


.a-popup .a-popup-content{
    margin:90px auto 90px auto;
    width:285px;
    height: 500px;
    padding:30px;
    background: white;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.a_popup_trigger
{

}
/*Tooltip design hack*/

.add_form {
    width: 318px;
    -webkit-box-shadow: -5px 5px 30px 1px #DCE3E6;
    box-shadow: -5px 5px 30px 1px #DCE3E6;
    border: 1px solid #DCE3E6;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 15px;
    margin-top: 25px;
}

.add_form input, .add_form select {
    background-color: #DCE3E6;
}

.choose_for_info {
    line-height: 0;
}

.tooltip {
    clear: both;
    overflow: hidden;
}

.last-bought {
    font-size: 0.7em;
    float: right;
    margin-top: 9px;
}

.choose_list input {
    vertical-align: middle;
    margin-top: 0;
}

.style_changer_blue
{
       background:-moz-linear-gradient(-45deg, rgba(224,243,250,1) 0%, rgba(216,240,252,0.5) 50%, rgba(184,226,246,0.49) 51%, rgba(182,223,253,0) 100%);
       background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,0.5)), color-stop(51%,rgba(184,226,246,0.49)), color-stop(100%,rgba(182,223,253,0)));
       background:-webkit-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
       background:-o-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
       background:-ms-linear-gradient(-45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
       background:linear-gradient(135deg, rgba(224,243,250,1) 0%,rgba(216,240,252,0.5) 50%,rgba(184,226,246,0.49) 51%,rgba(182,223,253,0) 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#00b6dffd',GradientType=1 );
}
.style_changer_green
{
    background:-moz-linear-gradient(-45deg, rgba(230,240,163,1) 0%, rgba(210,230,56,0.77) 50%, rgba(218,239,66,0.54) 51%, rgba(219,240,67,0.54) 100%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(230,240,163,1)), color-stop(50%,rgba(210,230,56,0.77)), color-stop(51%,rgba(218,239,66,0.54)), color-stop(100%,rgba(219,240,67,0.54)));
    background:-webkit-linear-gradient(-45deg, rgba(230,240,163,1) 0%,rgba(210,230,56,0.77) 50%,rgba(218,239,66,0.54) 51%,rgba(219,240,67,0.54) 100%);
    background:-o-linear-gradient(-45deg, rgba(230,240,163,1) 0%,rgba(210,230,56,0.77) 50%,rgba(218,239,66,0.54) 51%,rgba(219,240,67,0.54) 100%);
    background:-ms-linear-gradient(-45deg, rgba(230,240,163,1) 0%,rgba(210,230,56,0.77) 50%,rgba(218,239,66,0.54) 51%,rgba(219,240,67,0.54) 100%);
    background:linear-gradient(135deg, rgba(230,240,163,1) 0%,rgba(210,230,56,0.77) 50%,rgba(218,239,66,0.54) 51%,rgba(219,240,67,0.54) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#00b6dffd',GradientType=1 );

}
.style_changer_purple{
     background:-moz-linear-gradient(-45deg, rgba(252,236,252,1) 0%, rgba(251,166,225,0.63) 50%, rgba(253,137,215,0.62) 51%, rgba(255,124,216,0.27) 100%);
     background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,236,252,1)), color-stop(50%,rgba(251,166,225,0.63)), color-stop(51%,rgba(253,137,215,0.62)), color-stop(100%,rgba(255,124,216,0.27)));
     background:-webkit-linear-gradient(-45deg, rgba(252,236,252,1) 0%,rgba(251,166,225,0.63) 50%,rgba(253,137,215,0.62) 51%,rgba(255,124,216,0.27) 100%);
     background:-o-linear-gradient(-45deg, rgba(252,236,252,1) 0%,rgba(251,166,225,0.63) 50%,rgba(253,137,215,0.62) 51%,rgba(255,124,216,0.27) 100%);
     background:-ms-linear-gradient(-45deg, rgba(252,236,252,1) 0%,rgba(251,166,225,0.63) 50%,rgba(253,137,215,0.62) 51%,rgba(255,124,216,0.27) 100%);
     background:linear-gradient(135deg, rgba(252,236,252,1) 0%,rgba(251,166,225,0.63) 50%,rgba(253,137,215,0.62) 51%,rgba(255,124,216,0.27) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#00b6dffd',GradientType=1 );

}
.header-sh-list {
    font-size: 1.4em;
    margin-top: 25px;
    margin-bottom: 20px;
}

.choose_list p:hover, .suggested_products p:hover {
    background-color: #faf2cc;
    cursor: pointer;
    color: #6BA1BB;
}

.add_form{
    background-color: #6BA1BB;
    color: #EEEDEB;
    font-weight: bold;

}

.remove-product {
    padding: 2px;
    font-size: 0.8em;
}

.product-item img, .choose-item img, .suggested-item img {
    width: 1.3em;
    height: auto;
    bottom: 2px; /* position hack*/
    animation-direction: reverse;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;

}

.add_form select, .add_form input {
    width: 206px;
    height: auto;
}

.add_form .btn {
    margin-top: 15px;
}

.suggested_products {
    width: 63%;
}

.suggested-item {
    display: inline-block;
    width: 30%;
}


/*Animations*/
    .icon-animation {
    -webkit-animation: cssAnimation 1.7137s 1 ease-in-out;
    -moz-animation: cssAnimation 1.7137s 1 ease-in-out;
    -o-animation: cssAnimation 1.7137s 1 ease-in-out;
    }
    @-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(0); }
    to { -webkit-transform: rotate(179deg) scale(0.325) skew(0deg) translate(0); }
    }
    @-moz-keyframes cssAnimation {
    from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(0); }
    to { -moz-transform: rotate(179deg) scale(0.325) skew(0deg) translate(0); }
    }
    @-o-keyframes cssAnimation {
    from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(0); }
    to { -o-transform: rotate(179deg) scale(0.325) skew(0deg) translate(0); }
    }
