/* CSS Document */
/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

/*Basic reset*/
* {margin: 0; padding: 0;}

body {
	/*background-color :#6BA1BB;*/
	font-family: Nunito, arial, verdana;
}
#accordian {
	background: #eee;
	width: 250px;
	float:right;
	color: white;
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}

/*heading styles*/
#accordian h3 {
	font-size: 14px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #003040;
	background: linear-gradient( #6BA1BB,#646E6A );
}
#accordian h3 input{
	display:inline-block;
	margin-right:10px;
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a{
	color: black;
	text-decoration: none;
	font-size: 13px;
	line-height: 27px;
	display: block;
	padding: 0 5px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #6BA1BB;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

.checkbox {
	margin-left:10px;
}
li {
	list-style: none;
}
#timeLine {
	width: 120px;
	background-image: url(img/box.png);
	background-repeat: repeat-y;
}
.shopping-list {
	position: relative;	
}
.circle {
	width: 80px;
	height: 80px;
	border-radius: 50px;
	margin: 0 auto;
	background-color: #6BA1BB;
	cursor: crosshair;
	margin-bottom:25px;
}
.date { 
	position: absolute;
	left: -120px;
	padding: 10px;
	}
.sl_products_container {
	margin-right: 0px;
	position: absolute;
	/*left: 130px;*/
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left:50px;
	padding-right:50px;
	cursor: crosshair;
	border-radius:5px;
	background-color: #6BA1BB;
	color:white;
	left:-2000px;
}
.triangle {
	margin-top:20px;
	width:12px;
	height:20px;
	margin-left:-60px;
	background-image: url(img/triangle.png)
}


