/* CSS Document */
/*custom font for text*/
@import url('http://fonts.googleapis.com/css?family=Nunito');
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url('http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css');
/*booststrap glificon for firefox*/
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
/*Basic reset*/
* {  
	margin: 0;
	padding: 0;
}
body {
	/*background-color :#6BA1BB;*/
	font-family: Nunito, arial, verdana;
	color: #67686E;
}
#accordian {
	margin-top: 5px;
	position: absolute;
	right: 150px;
	width: 300px;
	border-radius: 5px;
	float: right;
	color: #EEE;
	overflow:auto;
	background: #DCE3E6;
	/*Some cool shadow and glow effect*/
	/*box-shadow: 
		0 1px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
	z-index:2;

}
/*heading styles*/
#accordian h3 {
	font-size: 16px;
	line-height: 40px;
	padding: 0 15px;
	padding-top: 5px;
	border-radius: 4px;
	cursor: pointer;
	margin-top:-2px;
	box-shadow: 1px 2px 1px #888888;
	/*fallback for browsers not supporting gradients*/
	/*background: linear-gradient( #6BA1BB,#646E6A );*/
	background: #6BA1BB;
}
#accordian h3 input{
	display:inline-block;
	margin-right:5px;
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*list items*/
#accordian li {
	list-style-type: none;

}
/*links*/
#accordian ul ul li a{
	color: #67686E;
	text-decoration: none;
	font-size: 13px;
	line-height: 27px;
	display: block;
	padding: 0 5px;
	margin-right: 40px;
	margin-left: 44px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
	background: #E9EAF2;
	border-radius: 4px;

}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #6BA1BB;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}
.checkbox {
	margin-left:10px;
}
li {
	list-style: none;
}
#timeLine {
	width: 120px;
	background-image: url(img/box.png);
	background-repeat: repeat-y;
	margin-left: 190px;
	margin-top: 20px;
}
.shopping-list {
	position: relative;	
}
.date {
	position: relative;
	left:-110px;
	top:-10px;
}
.sl_products_container {
	position: absolute;
	left: 130px;
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 50px;
	padding-right: 110px;
	border-radius: 5px;
	background-color :#6BA1BB;
	color: #EEE;
	display:none;
	border: 1px solid #fbeed5;
}
.triangle {
	margin-top: 20px;
	width: 12px;
	height: 20px;
	margin-left:-60px;
	background-image: url(img/triangle.png);
}

/* Circle sizes depending on number of products */
.circle {
	border-radius: 100px;
	margin: 0 auto;
	background-color: #ABCCAB;
	box-shadow: 1px 1px 1px #888888;
	text-align: center;
	font-size : 13px;

}
.size-0 {
	width: 27px;
	height: 27px;
	font-size : 13px;
	padding:5px 0px 0px 2px;	
}
.size-0 .small-circle {
	padding:0px 6px 0px 5px;
}
.size-1 {
	width: 35px;
	height: 35px;
	font-size : 14px;
	padding: 6px 0px 0px 2px;	
}
.size-1 .small-circle {
	padding:2px 5px 2px 4px;
}
.size-2 {
	width: 40px;
	height: 40px;
	font-size : 15px;
	padding: 6px 0px 0px 1px;
}
.size-2 .small-circle {
	padding:4px 2px 4px 1px;
}
.size-3 {
	width: 50px;
	height: 50px;
	font-size:16px;
	padding: 10px 0px 0px 0px;	
}
.size-3 .small-circle {
	padding:4px 2px 4px 1px;
}
.size-4 {
	width: 60px;
	height: 60px;
	font-size : 17px;
	padding: 10px 0px 0px 2px;
}
.size-4 .small-circle {
	padding:8px 6px 8px 6px;
}
.size-5 {
	width: 70px;
	height: 70px;
	font-size : 18px;
	padding: 11px 0px 0px 1px;	
}
.size-5 .small-circle {
	padding:12px 10px 12px 10px;
}
.size-6 {
	width: 80px;
	height: 80px;
	font-size : 19px;
	padding: 10px 0px 0px 1px;		
}
.size-6 .small-circle {
	padding:17px 8px 17px 8px;
}
.size-7 {
	width: 90px;
	height: 90px;
	font-size : 20px;
	padding: 13px 0px 0px 1px;			
}
.size-7 .small-circle {
	padding:20px 11px 20px 11px;
}
.size-8 {
	width: 100px;
	height: 100px;
	font-size : 21px;
	padding: 14px 0px 0px 2px;
}
.size-8 .small-circle {
	padding:22px 13px 22px 13px;
}
.size-9 {
	width: 110px;
	height: 110px;
	font-size : 22px;
	padding: 14px 0px 0px 2px;	
}
.size-9 .small-circle {
	padding:26px 17px 26px 17px;
}
.small-circle {
	color: #EEE;
	background: #6BA1BB;
	display :inline-block;
	border-radius:100px;
}
.date {
	color : #ABCCAB;
	font-size: 17px;
		
}
.plus-minus-menu, .plus-minus, .product_map{
	font-size: 20px;
	text-shadow: 1px 1px #67686E, -1px -1px #DCDEE6;
	cursor: pointer;
}
/*buttons for menu*/
.plus-minus-menu{
	margin-right: 8px;
	float: right;
}
/*buttons for popups*/
.plus-minus {
	text-align: right;
	margin-top: 0px;
	margin-right:-55px;
	float: right;
}

/*button for showing map*/
.product_map {
	float: left;
	color:#6BA1BB;
	font-size: 28px;	
}
.icon-plus:hover, .icon-minus:hover, .icon-globe:hover {
	text-shadow: 1px 1px #DCDEE6, -1px -1px #67686E;
}


.icon-plus, .icon-shopping-cart {
	color : #ABCCAB;
}
.icon-minus, .icon-remove {
	color : #E3AFB6;
}
.icon-download, .icon-upload { 
	font-size: 25px;
	color: #E5E5E5;
	float: right;
  }
 #timeLine li {
 	line-height: 25px;
 	font-size : 16px;
}
.alert {
	color: #EEE;
	display: none;
	z-index: 2;
}
.alert-add {
	background-color: #ABCCAB;
}
.alert-delete {
	background-color: #E3AFB6;
}
/*for close cross in popups*/
.popups {
 	margin-right: -95px;
 	margin-top: 15px;
}
.small-circle {
}

.show  {
	display: block;
}
.hide  {
	display: none;
}
.module-day{
	height: 20px;
}
#module-day{
	display:none;
}
.minimap-container{
	height:200px;
	border: 1px solid #000;
	position:fixed;
	top:60px
}
.ui-widget-content{

}
.date{
	font-size :14px;
	color: #6BA1BB;
	/*color: #EEE;
	text-decoration: underline;
	background-color: #6BA1BB;*/
	cursor:pointer;
	text-align:center;
	border-radius: 4px;
	
}
.date-selected{
	color: #ABCCAB;
}
.date-active{
	color:  #ABCCAB;
}
/* Jquery UI datepicker */
.ui-datepicker { 
  margin-left: -195px;
  margin-top: 8px;
  /*background:#fff;*/
  background:#6BA1BB;
  color: #EEE;
  padding: 10px;
  width:210px;
  position:relative;
  border-radius: 5px;
  border: 1px solid #fbeed5;
  /*box-shadow: 1px 1px 1px #888888;*/
}
.ui-datepicker-calendar{
	width:200px;
}
.ui-datepicker-calendar th{
	text-align:left;
}
.ui-datepicker-calendar td{
	width:20px;
	color: #ABCCAB;
}

.ui-datepicker-calendar td a{
	width: 20px;
	color:#fff;
	/*font-weight: bold;*/
}

.datepicker{
display:none;
}
.ui-datepicker-trigger{
	width:0px;
	height:0px;
	opacity: 0;

}
.ui-icon{
	padding:2px;
	cursor:pointer;
	/*font-weight:bold;*/
}

.datepicker{
	display:none;
}

.ui-datepicker-prev, .ui-datepicker-next{
	display:inline-block;
	color : #ABCCAB;
	

}
.ui-datepicker-title {
	color : #EEE;
	
}

.ui-datepicker-prev {
	float:right;
}


#map { 
	height: 380px;
	width: 480px;
	resize:both;
	overflow: auto;
   }
#map-container {
    position:relative;
    background: #ABCCAB;
    border: 8px solid #ABCCAB;
    border-radius :4px;
    padding-left: 8px;
    display: none;
    z-index: 1;
    overflow: auto;
    overflow-x: hidden;

}

.map {
	margin-right: -5px;
}


