*{
    margin: 0;
    padding: 0;
}
#main_content{
    margin: auto;
    border: none;
}
#chart1{
    width: 40%;
    height: 285px;
    background-color: #eee;
    margin: 10px 5px 5px 5px;
    float: left;
    
    
}
#bar_chart{
    width: 40%;
    height: 285px;
    background-color: #eee;
    margin:  10px 5px 5px 5px;
    float: left;
    
    
}
#time_series{
    width: 40%;
    height: 288px;
    background-color: #eee;
    margin: 10px 5px 5px 5px;
    float: left;
}
#stacked_area{
    width: 40%;
    height: 285px;
    background-color: #eee;
    margin: 10px 5px 5px 5px;
    float: left;
}
#diagrams{
    margin: auto;
    border: 1px solid #cecece;
    width:  1100px;

    border-radius: 15px;
    -moz-box-shadow:1px 1px 10px;
    -webkit-box-shadow:1px 1px 10px;
    box-shadow:1px 1px 10px;
}
h1{
    margin: 10px auto;
    text-align: center;
    color: #cecece;
    text-shadow: 1px 1px 5px #000;
}