{% extends 'base.html' %}

{% block container %}Hisory
	
		<div id='accordian'>
		{% for categoryProduct in categoriesProduct %}	
		  	
		  	<ul>
		  		<li> <h3> {{categoryProduct.category}} </h3>
		  			<ul>
		  			{% for product in categoryProduct.products %}
		  				
			  			<li> <a href='#'>{{product}} </a> </li>
			  			
		  			{% endfor %}
		  			</ul>
		  		</li>
		  	</ul>

	      {% endfor %}
	    </div>


	    <div id='timeLine' class='span6'>
		{% for s in shoppingList %}	
		  <div>
		  	    <ul>
		    		{% for p in s.products.all %}
		    			<li>
							{{p.name}}
						</li>
		    		{% endfor %}
		    	</ul>	
		  </div>
		  <div>
			{{s.date}}
		  </div>
	      {% endfor %}
	</div>
	
{% endblock %}

