{% extends 'base.html' %}

{% block container %}Hisory
	
		<div id='accordian'>
		<form id='acordionForm'>
		{% csrf_token %}
		{% for categoryProduct in categoriesProduct %}	
		  	
		  	<ul>
		  		<li> <h3> <div class="checkbox"><input checked type="checkbox" name='ch_category_{{categoryProduct.category.id}}'>{{categoryProduct.category}} </div></h3>
		  			<ul>
		  			{% for product in categoryProduct.products %}
		  				
			  			<li> <div class="checkbox"><input checked  type="checkbox" name='ch_product_{{product.id}}'><a href='#'>{{product}} </a> </div></li>
			  			
		  			{% endfor %}
		  			</ul>
		  		</li>
		  	</ul>
	      {% endfor %}
	      <div id='check_button'>
	      <button  id='list_button' type="button" class="btn btn-default">Show information</button>
	  	</div>
	  </form>
	    </div>

	

	    <div id='timeLine' class='span6'>
		{% for s in shoppingList %}	
		  <div id="shopping_list_{{s.id}}" class="shopping-list">
		  	    <ul class="sl_products_container">
		    		{% for p in s.products.all %}
		    			<li id="li_product_{{p.id}}" class="product">
							{{p.name}}
					</li> 
		    		{% endfor %}
		    	</ul>	
		  </div>
		  <div>
			{{s.date}}
		  </div>
	      {% endfor %}
	</div>
	<div>{{shoppingList}}</div>
{% endblock %}




