<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>backbone</title>
  <style type='text/css'>
.show {display:block;}
.hide {display:none;}
.shopping-list {border: 1px solid black;}
</style>
</head>
<body>  

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>


<script type="text/template" id="item-template">
  <div><input type='checkbox' class = 'check' checked='checked'/><%=name%></div>
</script>


<script type="text/template" id="product-time-template">
  <div class='checked'><%=name%></div>

  
</script>

<script type="text/template" id="category-item">
          <li id="li_category5">
        <h3>
        <div class="icon-download up_down"></div>
        <input id="<%=id%>" class="category_check" type="checkbox" name="ch_category_<%=id%>" checked="">
          <%=name%>
        </h3>
        </li>
</script>


<!--меню, в якому є лише модель продукту, категорія немодельна-->
<script type="text/template" id="menu-template">

  <% _.each(categoriesDetail,function(categoryDetail){ %>
    <li>
      <input type='checkbox'><%=categoryDetail[1]%>
      <ul>
        <% _.each(products,function(product){
            if(product.get('category').id == categoryDetail[0]){%>
                <input type='checkbox' class = 'checked'><li><%=product.get('name')%></li>
           <%}
        })%>
        </ul>
       </li> 
  <%})%>

</script>

<!--шматки коду<% _.each(categories,function(category){%>
      <ul><%=category.get('name')%>
      
      </ul>
<%})%>-->
<!--<li><%=product.get('category').id%></li>-->




<div id='menu'>
</div>
 <h1>Second</h1>


<div id='menu2'>
</div> 

<div id='timeLine' style='border:1px solid red'>
</div> 

 <script type="text/javascript">


  $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
      options.url = 'http://127.0.0.1:8000/api' + options.url;

    });

//************************Models*******************************//
// завдання 1 -- по чеку на спрощену версію меню -- зникає елемент продукт:
//1) чекаєм продукт в ньому змінюється значення checked 

///********Models*************

    var Category  = Backbone.Model.extend({

      urlRoot: '/categories/',
      defaults: {
          'products': null
      }

    });

    var Product = Backbone.Model.extend({

        defaults: {
            'categoryId' : null,
            'checked' : true,
            'current' : false,
            'lists' : ""
        },

        initialize: function(){
            this.set('categoryId',this.get("category").id); 
        }  
  
    });

    var ShoppingList = Backbone.Model.extend({
        urlRoot : '/shopping_lists/'
    });


    ///*************Collections**********************/


    var Products = Backbone.Collection.extend({
        model: Product,
        url : '/products/?format=json',

        initialize: function(){
            
        },
    })

    var Categories = Backbone.Collection.extend({
      model: Category,
      url : '/categories/?format=json' 
    })

    var TimeLine = Backbone.Collection.extend({
      model:ShoppingList,
      url : '/shopping_lists/'
    })

    
    _.each()

    //**********************Views****************************// 1fjobber12
    var ProductTimeView = Backbone.View.extend({
        tagName:  "li",
        initialize: function() {
            this.listenTo(localProducts, 'change', this.render);
        },    
        events: {
          //"click .checked"   : "test"
        },
        render: function() {
            var template = _.template($('#product-time-template').html())
            this.$el.html(template(this.model.toJSON()));
            //міняємо класи взалежності від атрибута моделі 'checked'
            this.$el.toggleClass('show', this.model.get('checked'));
            this.$el.toggleClass('hide', !this.model.get('checked'));
            return this;
        }
    })

    var ShoppingListView = Backbone.View.extend({
        className : 'shopping-list',
   
        events: {
          //"click .checked"   : "test",
        },
        render : function(options){
            var that = this;
            //that.model = new ShoppingList({id:options.id});
            var shoppingList = options.sl;
            var productsIn = []
            var sum = 0;

                    //отримуємо продукти потрібного shopping-list
                    var products = shoppingList.get('products');
                    var productsLength = products.length;

                    //рендеримо вид кожної моделі продукту

                    _.each(shoppingList.get('products'),function(product){

                          //так як шопінг лісти постійно оновлюються беремо продукти з локальної колекції яка статична
                          product = localProducts.where({'id': product.id})[0];

                           if(product.get('checked')) {
                              sum += Number(product.get('price'))
                          }

                        var view = new ProductTimeView({model: product});
                        that.$el.append(view.render().el);
                    })
                    console.log(sum)
                    that.$el.append($('<div></div>').text(sum));
              
        //console.log(that.model)   
        return that.$el;
        }
    })



    var TimeLineView = Backbone.View.extend({
        el : '#timeLine',
        initialize: function() {
           this.listenTo(localProducts, 'change', this.render);
        },
        render : function(){
            var that= this;
            that.$el.empty();
            var timeLine = new TimeLine();
            timeLine.fetch({ 
                success : function() {
                  //рендеримо шопінг лісти
                      _.each(timeLine.models,function(shoppingList){

                            var shoppingListView = new ShoppingListView();
                            that.$el.append(shoppingListView.render({sl:shoppingList}));

                        })

               
                    },

                error : function(){
                //TODO: add message for the user here
                    console.log('You are ...')
                }
            });  
        },
    })

   
    var ProductView = Backbone.View.extend({

        tagName:  "li",

        events: {
            // check/uncheck change product model
            "click .check"   : "toggleCheck", 
        },

        render: function() {
            var template = _.template($('#item-template').html())
            this.$el.html(template(this.model.toJSON()));
            //console.log(this.$el.html(template(this.model.toJSON())))
            //$('body').append(this.$el)
            return this;

        },
    
        toggleCheck : function(){
      
            var flag = this.$el.find('.check').is(':checked');

            this.model.set('checked',flag);

            //Якщо в меню чекбокс категорії з цим продуктом не чекнутий чекаємо його 
            var categoryCheckbox = $("[name=ch_category_" + this.model.get("categoryId")+"]")

            fellowProducts = localProducts.where({"categoryId":this.model.get("categoryId"),"checked":true});

            if(categoryCheckbox.not(":checked") ){
                categoryCheckbox.attr("checked",true);
            }

            if (fellowProducts.length == 0){
                categoryCheckbox.attr("checked",false);
            }

        }
    })


    var CategoryView = Backbone.View.extend({

      tagName: 'ul',
      counter: 0,

       events: {
            "click .category_check"   : "toggleCheck", 

        },
      //Це трігерає апдейт localProduct i timeLineView.render();
    toggleCheck : function (){

        var checked = this.$el.find('.category_check').is(':checked');

        var products = this.model.get("products");


        //{silent:true} Щоб не викликати timeLineView.render() по кілька раз через подію зміни моделі
        var slFlag = true;

        if (checked){
            this.$el.find('.check').prop('checked', true);

            _.each(products, function(product,i){

              if (i == products.length-1)
                slFlag = false

              product.set("checked",true,{silent:slFlag});

            });
        }
        else{
             this.$el.find('.check').prop('checked', false);

              _.each(products, function(product,i){

                if (i == products.length-1)
                  slFlag = false

                product.set("checked",false,{silent:slFlag});

            });
        }


      },

      render: function(){
        
        var productsHtml = $("<ul></ul>");

        var template = _.template($('#category-item').html())
        this.$el.append(template(this.model.toJSON()));

        //here we render all products for this category
        _.each (this.model.get("products"), function(product){
              var view = new ProductView({model: product});
              productsHtml.append(view.render().el);
        });

        this.$el.append(productsHtml);

        return this;

      },
      renderTimeline: function(){
         
      }



    })

    //робоча версія
    var MenuView = Backbone.View.extend({
        el : "#menu2",
        events: {
            //test має змінювати параметр checked 
        },
        render : function(){
            var that = this;

            localCategories.fetch({
                success: function(){
         
                      //underscore foreach
                      _.each(localCategories.models, function(category){

                            //populate  current catergory with appropriate products
                            var products = localProducts.where({"categoryId":category.id});

                            category.set("products",products);

                            var categoryView = new CategoryView({model:category});
                            that.$el.append(categoryView.render().el);
                            
                      })

                       //КОЛИ Я ДОБАВЛЯЮ МОДЕЛІ В КОЛЕКЦІЮ КОЖЕНА МОДЕЛЬ ОТРИМУЄ 21 ВКЛАДЕННЯ КЛЕКЦІЙ (Є 21 ПРОДУКТ)
                      //Я ПРОСТО НЕ УСВІДОМЛЮЮ, ЩО ЦЕ
                      //Michael: Проблема і далі актуальна, але на функціоналність не впливає

                }

                    });
         
    
        }
    })


     
  var localProducts = new  Products(); 
  var localCategories = new Categories(); 

   var timeLineView = new TimeLineView();
   timeLineView.render();

   //Рендеримо меню коли дочекаємось завантаження продуктів
    localProducts.fetch({
        success: function(){

            var menuView = new MenuView();
            menuView.render();

        }

    });

   
//продукти зникають по анчеку
//продукти  з являлися по чеку 
//*потрібно зробити, щоб shopping-list рахував суми
    </script>

</body>
</html>
